@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap%27');

/* This is the css FOR THE WHOLE WEBSITE - THE WHOLE WEBSITE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}


/* This is the css for body of the website - BODY OF THE WEBSITE */
body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}



/* This is the css for NAME in the Header - WITHIN THE HEADER */
.Name {
  float: left;
  margin-left: 15px;
  padding: 23.5px 10px;
  font-weight: bold;
  background: #69349f;
}




/* This is the to remove the unline link for the NAME - WITHIN THE HEADER */
.name-link {
  text-decoration: none;
  color: white;
}



/* This is the css for the Header - AT THE TOP */
.Header {
  background: white;
  text-align: right;
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;

}


/* This is the css for the ROW of the Nav bar (How far over and how long it will be) - WITHIN THE HEADER */
.menu_row {
  width: 100%;
  font-size: 0;


}

/* This is the css for the WHOLE list of the Nav bar (The A TAGS) - WITHIN THE HEADER */
.menu_list {
  display: inline-block;
  vertical-align: bottom;
  font-size: 1.2rem;
}





/* This is the css for the links and to make them look good (The A TAGS) - WITHIN THE HEADER*/
.menu__link {
  display: block;
  text-decoration: none;
  border-bottom: 7px solid transparent;
  padding: 1.5rem;
  color: black;
  font-weight: bold;
  -webkit-transition: .3s;
          transition: .2s;

}

/* This is the css for the nav button when they are hovered by the mouse. - WITHIN THE HEADER */
  .menu__link:hover {
    border-bottom: 7px solid #69349f;
    cursor: pointer;
    justify-content: center;

  }

  


/* This is the css for the MAIN secion within the middle of the page - MIDDLE OF THE PAGE - HOME PAGE */
  .index-background{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('pic1.jpg');
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;

  }



/* This is the css for the footer - WITHIN THE FOOTER  */
  footer {
    background: #fff;
    color: black;
    width: 100%;
    bottom: 0;
    z-index: 99;
    position: fixed;
    display: block;
  }

/* This is the css for the COPYRIGHT text within the footer - WITHIN THE FOOTER */
  .copyright{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 20px 5px;
   
  }




/* This is the css for the BLUR thats in the SMALL WIDGET within he #showcase - MIDDLE OF THE PAGE - HOME PAGE */
  .blur {
    overflow: hidden;
    height: 300px;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
  }

  /* This is the css for the whole animation and and the text font/size postion EVERYTHING - MIDDLE OF THE PAGE - HOME PAGE */
  .ml1 {
    color: white;
    vertical-align: middle;
    width:800px;
    height: 200px; line-height: 200px;
    position: absolute;
    top: 50%; margin-top:-100px;
    left: 50%; margin-left:-400px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    text-align:center; vertical-align:middle;
  }

  /* This is the css for the letters within the text in the WIDGET/ANIMATION - MIDDLE OF THE PAGE. -HOME PAGE */
  .ml1 .letter {
    display: inline-block;
    line-height: 1em;
    letter-spacing: 2px;
  }


  /* This is the css for the text wrapper and how close to the text it wil be - MIDDLE OF THE PAGE - HOME PAGE */
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.15em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;

  }

  /* This is the css for the lines in the WIDGET/ANIMATION - MIDDLE OF THE PAGE - HOME PAGE */
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #69349f;
    transform-origin: 0 0;
  }

  /* This is the css for the two PURPLE lines - MIDDLE OF THE PAGE - HOME PAGE */
  .ml1 .line1 {
    top: 60px;
  }
  .ml1 .line2 {
    bottom: 60px;
  }

  /* This is the css for the WIDGET - MIDDLE OF THE PAGE - HOME PAGE */
  .widget  {
    height: 150px;
    width: 50%;
    overflow: hidden;
  }

  /* This is the css for the position of the WIDGET - MIDDLE OF THE PAGE - HOME PAGE  */
  .center {
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }



/* This is to make the background image - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.showcase{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('pic1.jpg');
  background-repeat: no-repeat;
  background-size: stretch;
  background-position: center;
  position: relative;
    height: 100vh;
}

/* This is to make the about me box away from the corner - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.margin-box {
  margin: 25px;
}

/* This is to make the photos boxes - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.AboutMePhotos {
  height: 31vh;
  margin: 10px;
  background:#FFF;
  border: 5px solid #fff;
  border-radius: 10px;

}

/* This is the CSS for the text thats under the photo - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.Photos p {
  color: white;
  font-weight: 500;
}

/* This is the SPAN that is in the text so that the underline doesnt go on the Emojis - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.Photos span {
  text-decoration: underline;
  font-size: 20px;
}

/* This is the CSS for the box that has the information about me in - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.Text-AboutmeBox {
  height: 76vh;
  width: 63%;
  background:#fff;
  border: 5px solid white;
  border-radius: 10px;
  margin-top: 7.5vh;
}


/* This is to add the Scroll wheel on the about me box - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.Text-inbox {
  overflow: auto;
  width: 100%;
  height: 100%;
}

/* This is the CSS for the H1 thats in the About me Box - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.Text-inbox h1{
  margin: 15px;
}

/* This is the CSS for the P thats in the About me Box - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.Text-inbox p{
  margin: 15px;
  font-weight: 500;
  font-size: 22px;
}

/* This is the CSS for the Box that the CV is in - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.CV-box {
  width: 40%;
  height: 80vh;
  border: 5px solid #fff;
  background: #fff;
  margin: 15px;
  position: absolute;
  left: 30%;
  -moz-box-shadow:    inset 0 0 20px #000000;
   -webkit-box-shadow: inset 0 0 20px #000000;
   box-shadow:         inset 0 0 20px #000000;
}

/* This is the CSS for My CV thats in the box - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.Mycv {
  height: 700px;
  width:80%;
  position: absolute;
  overflow: hidden;
  left: 3%;
  top: 3%;
}


@media only screen and (max-width: 600px) {
  .Name 
  {
    font-size: 4px; 
    border-bottom: 14px solid transparent;
  }
  
  .menu__link
  {
    font-size: 13px;
  }
   
  .Text-inbox h1{
    font-size: 13px;
  }
  
  .Text-inbox p{
    font-size: 8px;
  }
  
  .copyright{
    font-size: 8px;
  }
  .Photos span{
    font-size: 8px;
  }
  
  .Text-AboutmeBox {
    margin-top: 8%;
    width: 50%;
  }
  
  .AboutMePhotos {
    height: 21vh;
    padding: 5px;
  }
  
  .ml1 {
    font-size: 15px;
  }
  
  .Photo1 {
    position: absolute;
    left: 50.5%;
    top: 10.5%;
    filter: brightness(0.8);
  }
  
  .Photo2 {
    position: absolute;
    left: 65.5%;
    top: 10.5%;
    width: 25vh;
    filter: brightness(0.8);
  }
  
  .Photo3 {
    position: absolute;
    left: 81%;
    top: 10.5%;
    width: 25vh;
    filter: brightness(0.8);
  }
  
  
  .Photo4 {
    position: absolute;
    left: 50.5%;
    top: 60%;
    width: 25vh;
    filter: brightness(0.8);
  }
  
  
  .Photo5 {
    position: absolute;
    left: 65.5%;
    top: 60%;
    width: 25vh;
    filter: brightness(0.8);
  }
  
  .Photo6 {
    position: absolute;
    left: 81%;
    top: 60%;
    width: 25vh;
    filter: brightness(0.8);
  }
}


@media only screen and (min-width: 600px) {
.Name 
{
  font-size: 6px; 
  border-bottom: 14px solid transparent;
}

.menu__link
{
  font-size: 15px;
  border-bottom: 10px solid transparent;
}
 
.Text-inbox h1{
  font-size: 15px;
}

.Text-inbox p{
  font-size: 10px;
}

.copyright{
  font-size: 10px;
}
.Photos span{
  font-size: 10px;
}

.Text-AboutmeBox {
  margin-top: 8%;
  width: 50%;
  height: 68.5vh;
}

.AboutMePhotos {
  height: 21vh;
  padding: 5px;
}

.ml1 {
  font-size: 20px;
}

.Photo1 {
  position: absolute;
  left: 52%;
  top: 12%;
  filter: brightness(0.8);
}

.Photo2 {
  position: absolute;
  left: 65%;
  top: 12%;
  width: 25vh;
  filter: brightness(0.8);
}

.Photo3 {
  position: absolute;
  left: 78%;
  top: 12%;
  width: 25vh;
  filter: brightness(0.8);
}


.Photo4 {
  position: absolute;
  left: 52%;
  top: 60%;
  width: 25vh;
  filter: brightness(0.8);
}


.Photo5 {
  position: absolute;
  left: 65%;
  top: 60%;
  width: 25vh;
  filter: brightness(0.8);
}

.Photo6 {
  position: absolute;
  left: 78%;
  top: 60%;
  width: 25vh;
  filter: brightness(0.8);
}

}

@media only screen and (min-width: 992px) {
.Name 
{
  font-size: 6px; 
}

.menu__link
{
  font-size: 16px;
}
 
.Text-inbox h1{
  font-size: 17px;
}

.Text-inbox p{
  font-size: 12px;
}

.copyright{
  font-size: 12px;
}
.Photos span{
  font-size: 12px;
}

.Text-AboutmeBox {
  margin-top: 6%;
  width: 50%;
}

.AboutMePhotos {
  height: 27vh;
  padding: 5px;
}

.ml1 {
  font-size: 25px;
}

.Photo1 {
  position: absolute;
  left: 50%;
  top: 9.2%;
  filter: brightness(0.8);
}

.Photo2 {
  position: absolute;
  left: 65%;
  top: 9.2%;
  width: 25vh;
  filter: brightness(0.8);
}

.Photo3 {
  position: absolute;
  left: 80%;
  top: 9.2%;
  width: 25vh;
  filter: brightness(0.8);
}


.Photo4 {
  position: absolute;
  left: 50%;
  top: 51%;
  width: 25vh;
  filter: brightness(0.8);
}


.Photo5 {
  position: absolute;
  left: 65%;
  top: 51%;
  width: 25vh;
  filter: brightness(0.8);
}

.Photo6 {
  position: absolute;
  left: 80%;
  top: 51%;
  width: 25vh;
  filter: brightness(0.8);
}

}

@media only screen and (min-width: 1200px) {
  .Name 
  {
    font-size: 8px; 
  }
  
  .menu__link
  {
    font-size: 20px;
  }
   
  .Text-inbox h1{
    font-size: 19px;
  }
  
  .Text-inbox p{
    font-size: 14px;
  }
  
  .copyright{
    font-size: 14px;
  }
  .Photos span{
    font-size: 14px;
  }
  
  .Text-AboutmeBox {
    width: 63%;
  }
  
  .AboutMePhotos {
    height: 27vh;
    padding: 5px;
  }
  
  .ml1 {
    font-size: 30px;
  }
  
  .Photo1 {
    position: absolute;
    left: 64%;
    top: 12%;
    filter: brightness(0.8);
  }
  
  .Photo2 {
    position: absolute;
    left: 76%;
    top: 12%;
    width: 25vh;
    filter: brightness(0.8);
  }
  
  .Photo3 {
    position: absolute;
    left: 88%;
    top: 12%;
    width: 25vh;
    filter: brightness(0.8);
  }
  
  
  .Photo4 {
    position: absolute;
    left: 64%;
    top: 54%;
    width: 25vh;
    filter: brightness(0.8);
  }
  
  
  .Photo5 {
    position: absolute;
    left: 76%;
    top: 54%;
    width: 25vh;
    filter: brightness(0.8);
  }
  
  .Photo6 {
    position: absolute;
    left: 88%;
    top: 54%;
    width: 25vh;
    filter: brightness(0.8);
  }


}

@media only screen and (min-width: 1720px) {
  .AboutMePhotos {
    height: 31vh;
    margin: 10px;
  }
  .Name 
  {
    font-size: 10px; 
  }
  
  .menu__link
  {
    font-size: 22px;
  }
   
  .Text-inbox h1{
    font-size: 25px;
  }
  
  .Text-inbox p{
    font-size: 20px;
  }
  
  .copyright{
    font-size: 16px;
  }
  .Photos span{
    font-size: 14px;
  }
  .Text-AboutmeBox {
    height: 70vh;
    width: 63%;
    margin-top: 10vh;
  }
  
  .ml1 {
    font-size: 40px;
  }
  .Photo1 {
    position: absolute;
    left: 63%;
    top: 9%;
    filter: brightness(0.8);
  }
  

  .Photo2 {
    position: absolute;
    left: 75%;
    top: 9%;
    width: 25vh;
    filter: brightness(0.8);
  }
  
  .Photo3 {
    position: absolute;
    left: 87%;
    top: 9%;
    width: 25vh;
    filter: brightness(0.8);
  }
  
  .Photo4 {
    position: absolute;
    left: 63%;
    top: 48%;
    width: 25vh;
    filter: brightness(0.8);
  }
  
  .Photo5 {
    position: absolute;
    left: 75%;
    top: 48%;
    width: 25vh;
    filter: brightness(0.8);
  }
  
  .Photo6 {
    position: absolute;
    left: 87%;
    top: 48%;
    width: 25vh;
    filter: brightness(0.8);
  }

}

