@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap%27');

/* This is the css FOR THE WHOLE WEBSITE - THE WHOLE WEBSITE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow: auto;
}

html {
  height: 100%;
}


/* This is the css for body of the website - BODY OF THE WEBSITE */
body {
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('pic1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
}




/* This is the css for NAME in the Header - WITHIN THE HEADER */
.Name {
  float: left;
  margin-left: 15px;
  padding: 23.5px 10px;
  font-weight: bold;
  background: #69349f;
}




/* This is the to remove the unline link for the NAME - WITHIN THE HEADER */
.name-link {
  text-decoration: none;
  color: white;
}



/* This is the css for the Header - AT THE TOP */
.Header {
  background: white;
  text-align: right;
  position: relative;
  top: 0;
  z-index: 99;
  width: 100%;

}


/* This is the css for the ROW of the Nav bar (How far over and how long it will be) - WITHIN THE HEADER */
.menu_row {
  width: 100%;
  font-size: 0;


}

/* This is the css for the WHOLE list of the Nav bar (The A TAGS) - WITHIN THE HEADER */
.menu_list {
  display: inline-block;
  vertical-align: bottom;
  font-size: 1.2rem;
}





/* This is the css for the links and to make them look good (The A TAGS) - WITHIN THE HEADER*/
.menu__link {
  display: block;
  text-decoration: none;
  border-bottom: 7px solid transparent;
  padding: 1.5rem;
  color: black;
  font-weight: bold;
  -webkit-transition: .3s;
          transition: .2s;

}

/* This is the css for the nav button when they are hovered by the mouse. - WITHIN THE HEADER */
  .menu__link:hover {
    border-bottom: 7px solid #69349f;
    cursor: pointer;

  }

  

/* This is the css for the footer - WITHIN THE FOOTER  */
  footer {
    background: #fff;
    color: black;
    width: 100%;
    bottom: 0;
    z-index: 99;
    position: fixed;
  }

/* This is the css for the COPYRIGHT text within the footer - WITHIN THE FOOTER */
  .copyright{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 20px 5px;
   
  }



  .container {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* This is the css for the WIDGET - MIDDLE OF THE PAGE - HOME PAGE */
  .widget  {
    display: block;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    top: 0;
    position: relative;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* This is the css for the position of the WIDGET - MIDDLE OF THE PAGE - HOME PAGE  */
  .center {
    width: 100%;
    height: 100%;
  }
  .container h1 {
    font-size: 5vh;
  }



/* This is to make the background image - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.showcase{
 width: 100%;
 position: relative;
 padding: 10px;
}

/* This is to make the about me box away from the corner - MIDDLE OF THE PAGE - ABOUT ME PAGE */


/* This is to make the photos boxes - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.AboutMePhotos {
  height: 31vh;
  background:#FFF;
  border: 5px solid #fff;
  border-radius: 10px;
  padding: 5px;
}

/* This is the CSS for the text thats under the photo - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.Photos p {
  color: white;
  font-weight: 500;
  text-align: center;
}

.Photos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px; 
}

/* This is the SPAN that is in the text so that the underline doesnt go on the Emojis - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.Photos span {
  text-decoration: underline;
  font-size: 20px;
}

/* This is the CSS for the box that has the information about me in - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.Text-AboutmeBox {
  margin-top: 20px; 
  width: 100%;
  background:#fff;
  border: 5px solid white;
  border-radius: 10px;
}


/* This is to add the Scroll wheel on the about me box - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.Text-inbox {
  overflow: auto;
  width: 100%;
  height: 100%;
}

/* This is the CSS for the H1 thats in the About me Box - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.Text-inbox h1{
  margin: 15px;
}

/* This is the CSS for the P thats in the About me Box - MIDDLE OF THE PAGE - ABOUT ME PAGE */
.Text-inbox p{
  margin: 15px;
  font-weight: 500;
  font-size: 22px;
}



@media only screen and (max-width: 768px) {
  .Name 
  {
    font-size: 4px; 
    border-bottom: 14px solid transparent;
  }

  
  .menu__link
  {
    font-size: 13px;
  }
   
  .Text-inbox h1{
    font-size: 13px;
  }
  
  .Text-inbox p{
    font-size: 8px;
  }
  
  .copyright{
    font-size: 8px;
  }
  .Photos span{
    font-size: 8px;
  }
  
  .Text-AboutmeBox {
    padding-bottom: 10px;
    width: 100%;

  }
  
  .AboutMePhotos {
    height: 21vh;

  }
  


  .margin-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    
    }
}


@media only screen and (min-width: 768px) {
.Name 
{
  font-size: 6px; 
  border-bottom: 14px solid transparent;
}

.menu__link
{
  font-size: 15px;
  border-bottom: 10px solid transparent;
}
 
.Text-inbox h1{
  font-size: 15px;
}

.Text-inbox p{
  font-size: 10px;
}

.copyright{
  font-size: 10px;
}
.Photos span{
  font-size: 10px;
}

.Text-AboutmeBox {
  padding: 10px;
  width: 50%;
}

.AboutMePhotos {
  height: 21vh;
}

.container h1 {
  font-size: 5vh;
}

.AboutMePhotos {
  width: 100%;
}

.margin-box {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row-reverse;
  }

 
 

  .Photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



}

@media only screen and (min-width: 992px) {
.Name 
{
  font-size: 6px; 
}

.menu__link
{
  font-size: 16px;
}
 
.Text-inbox h1{
  font-size: 17px;
}

.Text-inbox p{
  font-size: 12px;
}

.copyright{
  font-size: 12px;
}
.Photos span{
  font-size: 12px;
}

.Text-AboutmeBox {
  padding: 10px;
  width: 50%;
}

.AboutMePhotos {
  height: 27vh;
}

.ml1 {
  font-size: 25px;
}
.AboutMePhotos {
  width: 100%;
}

.margin-box {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row-reverse;
  }

  

  .Photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



}

@media only screen and (min-width: 1200px) {
  .Name 
  {
    font-size: 8px; 
  }
  
  .menu__link
  {
    font-size: 20px;
  }
   
  .Text-inbox h1{
    font-size: 19px;
  }
  
  .Text-inbox p{
    font-size: 14px;
  }
  
  .copyright{
    font-size: 14px;
  }
  .Photos span{
    font-size: 14px;
  }
  
  .Text-AboutmeBox {
    width: 63%;
  }
  
  .AboutMePhotos {
    height: 27vh;
 
  }
  
  .ml1 {
    font-size: 30px;
  }
  
  .AboutMePhotos {
    width: 100%;
  }

  .margin-box {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row-reverse;
    }

    

    .Photo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  


}

@media only screen and (min-width: 1720px) {
  .AboutMePhotos {
    height: 31vh;
  }
  .Name 
  {
    font-size: 10px; 
  }
  
  .menu__link
  {
    font-size: 22px;
  }
   
  .Text-inbox h1{
    font-size: 25px;
  }
  
  .Text-inbox p{
    font-size: 20px;
  }
  
  .copyright{
    font-size: 16px;
  }
  .Photos span{
    font-size: 14px;
  }
  .Text-AboutmeBox {
    height: 100%;
    width: 63%;
  }
  
  .ml1 {
    font-size: 40px;
  }
  

  .AboutMePhotos {
    width: 100%;
   

  }


  .margin-box {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row-reverse;
    }

   

    .Photo {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }


  

}

